@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ----------------------------- Custom CSS ------------------------------- */

:root {
  --primary-color: #ececf1;
}

/* ================== HEADING =================== */
.primary-heading {
  font-size: 28px !important;
  font-weight: bold;
  line-height: 42px;
  text-transform: capitalize;
}

/* ================== TEXT COLOR ===================== */
.primary-text {
  color: var(--primary-color) !important;
}
